body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
